.Main i {
  font-size: 40px;
  padding-right: 20px;
}

.Main {
  margin-top: 30px;
}

.Main .city {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-size: 40px;
  text-transform: capitalize;
  padding-bottom: 20px;
}

.Main .humid-wind {
  text-align: right;
}

.Main .date-time {
  padding-top: 30px;
  padding-bottom: 15px;
}

.Main .temp-main {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.Main .temp-main .active {
  font-weight: 400;
  cursor: default;
  color: #3f474d;
}

.Main .temperature {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  text-align: right;
  font-size: 60px;
  padding: none;
  padding: 0 10px 0 20px;
}
