body {
  margin: 30px auto;
  width: 70%;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: #3f474d;
  /* background-image: url("background.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  */
}

a {
  color: #3f474d;
  text-decoration: none;
  font-weight: 600;
}

/* add @media so background doesn't shrink beyond a certain width on small screens */
