body {
  margin: 30px auto;
  width: 70%;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: #3f474d;
  background: radial-gradient(
    circle at 10% 20%,
    rgb(254, 255, 165) 0%,
    rgb(255, 232, 182) 90%
  );
}

a {
  color: #3f474d;
  text-decoration: none;
  font-weight: 600;
}
