:root {
  --header-size-lg: 50px;
  --header-size-sm: 36px;
}

.Weather {
  margin-top: 30px;
}

.Weather .row,
.Weather .col-sm {
  padding: 0;
}

.WeatherInfo {
  margin-bottom: 30px;
}

.Weather .form-styler {
  margin-bottom: 40px;
  padding: 0;
}

.Weather .search-bar {
  border: solid 1px darkgrey;
  margin-right: 6px;
}

.Weather .btn {
  display: inline;
  color: #3f474d;
  border: solid 1px darkgrey;
  transition: all 150ms ease-in-out;
}

.Weather .btn:hover {
  background-color: lightgray;
}

.Weather .unit-btn {
  margin-left: 6px;
}

.Weather i {
  font-size: 40px;
  padding-right: 20px;
}

.Weather canvas {
  margin-top: 5px;
}

.Weather .city {
  font-weight: 200;
  font-size: var(--header-size-lg);
  text-transform: capitalize;
  padding-bottom: 20px;
}

.Weather .humid-wind {
  text-align: right;
  padding-top: 16px;
}

.Weather .date-time {
  padding-top: 30px;
  padding-bottom: 15px;
}

.Weather .temp-main {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.WeatherTemperature {
  font-weight: 200;
  text-align: right;
  font-size: var(--header-size-lg);
  padding: 0 0 0 20px;
}

@media (max-width: 576px) {
  body {
    margin: 50px auto;
    width: 80%;
  }

  .Weather .form-styler {
    margin-bottom: 0;
  }

  .Weather .unit-link {
    border: none;
    text-decoration: underline;
    margin: 6px 0 30px 6px;
    padding: 0;
    font-size: 15px;
    opacity: 70%;
  }

  .Weather .unit-link:hover {
    background-color: none;
  }

  .WeatherInfo .city {
    padding-bottom: 0;
    font-size: var(--header-size-sm);
  }

  hr {
    margin: 40px auto;
  }

  .WeatherInfo .date-time {
    padding-top: 0;
    margin-left: 12px;
  }

  .WeatherInfo .temp-main {
    margin: 40px auto 0;
  }

  .WeatherInfo .humid-temp {
    padding: 0;
  }

  .Weather .forecast-heading {
    font-size: var(--header-size-sm);
    text-align: center;
    font-weight: 100;
  }
}
